SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=seu_usuario_smtp
SMTP_PASS=sua_senha_smtp
SMTP_FROM=seu_email_remetente

BREVO_API_KEY=sua_chave_brevo
BREVO_SENDER_EMAIL=seu_email_remetente
BREVO_SENDER_NAME=Douglas Barbearia
